*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
}
.main{
    height: 95vh;
    width: 100vw;
    background-image: url(./assets/main_image.jpg);
    background-size: max(1500px,100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute; 
}
.box{
    height: 95vh;
    width: 100vw;
    opacity: 0.7;
    top: 0;
    background-color: black;
    position: absolute;
}
nav{
    width: 75vw;
    height: 62px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
nav div{
    display: flex;
    gap: 20px;
}
nav img{
    color: rgb(229, 9, 20);
    width: 150px;
    position: relative;
    z-index: 1;
}
nav button, select{
    position: relative;
    z-index: 1;
    padding: 7px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}
nav .sign_in_btn{
    width: 100px;
    background-color: rgb(229, 9, 20);
    color: white;
}
.language{
    width: 130px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255,0.6);
    color: white;
}
option{
    color: black;
}

.text{
    height: calc(100% - 62px) ;
    width: 100%;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 20px;  
    padding: 30px;
}

.text > :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.text > :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.text > :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.text .email{
    background-color: rgb(23,23,23,0.2);
    color: white;
    font-weight: 400;
    padding: 15px 140px 15px 15px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255,0.6);
    border-radius: 5px;
}

.get_started_btn{
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 24px;
    border-radius: 5px;
    padding: 12px 24px;
}
.get_started_btn span{
    font-weight: bold;
}
.text_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.line{
    height: 7px;
    background-color: rgb(51, 51, 51);
}
